div {
    border: 1px solid red;
}

#container {
    position: relative;
}
@media screen and (min-width: 600px) {
    nav {
        float: left;
        width: 25%;
    }

    section {
        margin-left: 25%;
    }    
}

@media screen and (max-width: 599px) {
    nav li {
        display: inline;
    }
}